<footer class="footer">
    <div class="footer-links">
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
        <a href="#">Aviso de cookies</a>
    </div>

    <div class="footer-social">
        <a href="https:\\www.facebook.com"><img src="assets/images/facebook.png" alt="Facebook"></a>
        <a href="https:\\www.whatsapp.com"><img src="assets/images/whatsapp.png" alt="WhatsApp"></a>
        <a href="https:\\www.tiktok.com"><img src="assets/images/tik-tok.png" alt="TikTok"></a>
        <a href="https:\\www.instagram.com"><img src="assets/images/instagram.png" alt="Instagram"></a>
    </div>

    <div class="footer-copyright">
        © 2024 Biblioteca Nexus. Todos los derechos reservados.
    </div>
</footer>