<div id="contact-container">
    <h1 class="contact-title">Contacto</h1>

    <div class="contact-card">
        <p>¡Estamos aquí para ayudarte! Si tienes preguntas, necesitas asistencia o quieres saber más sobre la Biblioteca Nexus, puedes contactarnos a través de los siguientes medios:</p>
    </div>

    <hr class="separator-line" />

    <div class="contact-card">
        <p>Dirección física: Biblioteca Nexus, Calle Ejemplo No. 123, Ciudad, Estado, Código Postal</p>
        <p>Teléfono: +1 (000) 123-4567</p>
        <p>Correo electrónico: contacto&#64;bibliotecanexus.com</p> <!-- Cambiado aquí -->
        <p>Nuestros horarios de atención son:</p>
        <ul>
            <li>Lunes a viernes de 9:00 a.m. a 6:00 p.m.</li>
            <li>Sábados de 10:00 a.m. a 4:00 p.m.</li>
        </ul>
    </div>
</div>
